<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">

    <!-- Heading -->
    <h5 class="my-3 border-bottom pb-2" 
        th:text="${articleSubmitForm.id == null} ? '질문 등록' : '질문 수정'">
    </h5>

    <!-- 폼 데이터 -->
    <form 
        th:action="${articleSubmitForm.id == null} ? '/articles/create' : '/articles/modify/' + ${articleSubmitForm.id}" 
        th:object="${articleSubmitForm}" 
        method="post">
        
        <!-- 입력 데이터 검증 -->
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>

        <!-- 제목 -->
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" id="title" th:field="*{title}" class="form-control" required>
        </div>

        <!-- 내용 -->
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea id="content" th:field="*{content}" class="form-control" rows="10" required></textarea>
        </div>

        <!-- 수정 시 _method 숨겨진 필드 추가 -->
        <input type="hidden" name="_method" th:if="${articleSubmitForm.id != null}" value="PATCH">

        <!-- 제출하기 -->
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>

</div>
</html>
